.App {
  /* UI Properties */
  background: transparent linear-gradient(136deg, #FCF3F3 0%, #FFFFFF 49%, #FAF1F0 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
}
.container {
  display: grid;
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
  
}

.container-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px;
  font-size: 30px;

}

.image {

}

@media (max-width:360px) {
  
}